{
  "extends": [
    "eslint:recommended",
    "walmart/rules/eslint/best-practices/on",
    "airbnb"
  ],
  "globals": {
    "document": false,
    "localStorage": false,
    "window": false
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "complexity": ["error", { "max": 5 }],
    "function-paren-newline": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": ["error", { "code": 80 }],
    "no-underscore-dangle": "off",
    "quote-props": ["error", "consistent-as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": "off",
    "require-jsdoc": "off",
    "sort-keys": "off",
    "space-before-function-paren": ["error", "never"]
  }
}
