.Board {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Xiang_board_%28empty%29.svg/1000px-Xiang_board_%28empty%29.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(10, 60px);
  grid-template-columns: repeat(9, 60px);
  justify-content: center;
}
