.Square {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/66/Xiangqi-_md.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Piece {
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Xiangqi_black_side_General.svg/50px-Xiangqi_black_side_General.svg.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
